<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dodaj przedmiot</title>
</head>
<body>
<h1>Dodaj przedmiot:</h1>
<form action="/add-parts" method="post">
  <label>Nazwa:</label>
  <input type="text" name="name">
  <br>
  <label>Cena: </label>
  <input type="number" name="price">
  <br>
  <label>Rodzaj pojazdu:</label>
  <label>Samochód osobowy</label>
  <input type="radio" name="vehicle_type" value="auto">
  <label>Samochód ciężarowy</label>
  <input type="radio" name="vehicle_type" value="tir">
  <label>Motor</label>
  <input type="radio" name="vehicle_type" value="motor">
  <button type="submit">Dodaj przedmiot</button>
</form>
</body>
</html>