<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wyszukiwarka planet</title>
</head>
<body>
<div>Oto znalezione części</div>
<form action="/find-part" method="post">
  <label>Wybierz rodzaj pojazdu:</label>
  <br>
  <label>Samochody osobowe</label>
  <input type="radio" th:field="${request.partType}" value="AUTO">
  <label>Samochody ciężarowe</label>
  <input type="radio" th:field="${request.planetType}" value="TIR">
  <br>
  <label>Motory</label>
  <input type="radio" th:field="${request.planetType}" value="MOTOR">
  <br>
  <button type="submit">Filtruj!</button>
  <br>
</form>
<div th:each="planet: ${planets}">
  <div th:text="${planet.name}"></div>
</div>

</body>
</html>