<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj w naszym sklepie motoryzacyjnym MOTO CZĘŚCI</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js" defer></script>

</head>
<body>
<h1>Wybierz kategorię produktów</h1>
<h3 th:text="${message}"></h3>
<ul>
  <li><a href="/brows-autopart">Przeglądaj części samochodów osobowych</a></li>
  <li><a href="/brows-tirpart">Przeglądaj części do samochodów ciężaraowych</a></li>
  <li><a href="/brows-motorpart">Przeglądaj częci do motorów</a></li>
    <li><a href="/add-parts">Dodaj części</a></li>
</ul>

</body>
</html>